<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
  </head>
  <body>
    <header>
      <h1>Contact Information</h1>
    </header>
    <section> 
      <h2>EMAIL</h2>
    </section>
    <section>
      <h2>LINKEDIN</h2>
      <a href=""></a>   
    </section>
    <section>
      <h2>GITHUB</h2>
      <a href=""></a>    
    </section>
    
    <footer></footer>
</body>
</html>