<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
  </head>
  <body>
    <header>
      <h1>Selected Projects</h1>
    </header>
    <section> 
      <img src="" alt="">
      <a href=""></a>
    </section>
    <section>
      <img src="" alt="">
      <a href=""></a>
    </section>
    <section>
      <img src="" alt="">
      <a href=""></a>
    </section>
    
    <footer></footer>
</body>
</html>